/*.nlp*
/cache/**
/cache
/graphcache/**
/graphcache
/plaincache/**
/plaincache
/corpus/**
/corpus
/virtualenv/**
/virtualenv
**/__pycache__/**
**/__pycache__
/.ropeproject
/.ropeproject/**
/.tool-versions
/*_distances.json
